html {
  box-sizing: border-box;
  line-height: 1.5;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  font-family: Merriweather, serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.125rem;
  font-family: Merriweather, serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  border-color: #a63f38;
  border-style: solid;
  list-style-type: none;
  align-items: stretch;
  display: flex;
  text-align: center;
  justify-content: flex-end;
}

img {
  width: 40px;
}

ul {
  display: flex;
}

header {
  background-color: #d05c2e;
}

div {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

a:hover {
  background-color: #a63f38;
  padding: .5em 2.5em;
}

body {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
  padding: .5em 2.5em;
}
